/* ==== Sidebar ==== */
/* ==================================== */

// Multiple sections
.multi-section aside.sidebar { @include grda-column(2,1); padding:px-to-em(30px) 0; }

aside.sidebar .wrapper { padding:0 px-to-em(30px);}

// Side navigation
aside.sidebar nav.subnavigation ul li { @include reset-li; display:block; margin-top:px-to-em(10px); }
aside.sidebar nav.subnavigation ul li:first-child { margin-top:0; }
aside.sidebar nav.subnavigation ul li a { display:block; position:relative; padding:px-to-em(10px, 18px) px-to-em(30px, 18px); color:$accent; @include rgba-background-inline(rgba(0,0,0,0.50)); font-family:$accent-font-family; @include adjust-font-size-to(18px);}
aside.sidebar nav.subnavigation ul li a:after { content:''; position:absolute; top:0; bottom:0; right:20px; width:7px; display:block; background-repeat:no-repeat; background-position:center; @include transition(all 0.3s);}
// hover & focus
aside.sidebar nav.subnavigation ul li a:hover,
aside.sidebar nav.subnavigation ul li a:focus { text-decoration:none; @include rgba-background-inline(rgba(0,0,0,0.30)); }
aside.sidebar nav.subnavigation ul li a:hover:after,
aside.sidebar nav.subnavigation ul li a:focus:after { right:12px; }
